#container{
    display: flex;
}

.div{
    /* border: solid 4px black; */
    width: 100px;
    height: 100px;
}

#div9{
    position: absolute;
    left: 140px;
    top: 40px;
    background-color: rgb(26, 240, 97);
    opacity: 50%;
}

#div10{
    position: absolute;
    left: 260px;
    top: 40px;
    background-color: rgb(19, 129, 253);
    opacity: 50%;

}

#div11{
    position: absolute;
    left: 380px;
    top: 40px;
    background-color: rgb(255, 82, 212);
    opacity: 50%;

}

#div1{
    position: absolute;
    left: 200px;
    top: 100px;
    background-color: rgb(247, 48, 48);
    opacity: 50%;

}
#div12{
    position: absolute;
    left: 320px;
    top: 100px;
    opacity: 50%;
    background-color: blueviolet;

}

#div2{
    position: absolute;
    left: 140px;
    top: 160px;
    opacity: 50%;
    background-color: aquamarine;
}

#div3{
    position: absolute;
    left: 260px;
    top: 160px;
    opacity: 50%;
    background-color: chartreuse;
}

#div13{
    position: absolute;
    left: 380px;
    top: 160px;
    opacity: 50%;
    background-color: darkgreen;
}

#div4{
    position: absolute;
    left: 200px;
    top: 220px;
    opacity: 50%;
    background-color: goldenrod;
}

#div5{
    position: absolute;
    left: 320px;
    top: 220px;
    opacity: 50%;
    background-color: rgb(66, 1, 216);
}

#div6{
    position: absolute;
    top: 280px;
    left: 140px;
    opacity: 50%;
    background-color: crimson;
} 

#div7{
    position: absolute;
    top: 280px;
    left: 260px;
    opacity: 50%;
    background-color: dimgray;
}

#div8{
    position: absolute;
    top: 280px;
    left: 380px;
    opacity: 50%;
    background-color: darkorange;
}

#div1:hover,#div2:hover,#div3:hover,#div4:hover,#div5:hover,#div6:hover,#div7:hover,#div8:hover,#div9:hover,#div10:hover,#div11:hover,#div12:hover,#div13:hover{
    opacity: 100%;
    z-index: 100;
}